PORT=3000
MONGO_URI=mongodb://zFlixT:<admin123>@ac-gsdajof-shard-00-00.otnkxhc.mongodb.net:27017,ac-gsdajof-shard-00-01.otnkxhc.mongodb.net:27017,ac-gsdajof-shard-00-02.otnkxhc.mongodb.net:27017/InventarioDB?ssl=true&replicaSet=atlas-km142r-shard-0&authSource=admin&appName=Cluster0