<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BankAdmin</a>

    <div class="navbar-nav">
      <button class="nav-link btn btn-link text-white" (click)="cambiarVista('dashboard')">
        Dashboard
      </button>

      <button class="nav-link btn btn-link text-white" (click)="cambiarVista('lista')">
        Ver Productos
      </button>

      <button class="nav-link btn btn-link text-white" (click)="cambiarVista('crear')">
        Crear Producto
      </button>

      <button *ngIf="!logueado"
              class="nav-link btn btn-link text-white"
              (click)="cambiarVista('login')">
        Login
      </button>

      <button *ngIf="logueado"
              class="nav-link btn btn-link text-danger"
              (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>
  </div>
</nav>
